@import url('https://fonts.googleapis.com/css2?family=lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --a: 0;
}

* {
    margin: 0;
    
}

.close{
    display: none;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}

.home {
    padding: 10px;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 79vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 11px;
    color: grey;
    gap: 17px;
    position: absolute;
    bottom: 0;
}

.footer a {
    color: grey;
}

.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    height: 52px;
}

.header * {
    padding: 10px;
}

.spotifyplaylists {
    padding: 16px;
}

.cardcontainer{
    margin: 30px;
    display: flex;
    gap: 21px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 60vh;
}

.card {
    width: 230px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 1.2s;
}

.card:hover{
    background-color: rgb(100, 94, 94);
    cursor: pointer;
    --a: 1;
}

.card * {
    padding-top: 10px;
}

.card img {
    width: 100%;

    object-fit: cover;
    width: 230px;
    height: 230px;
}


.play{
    width: 30px;
    height: 30px;
    background-color: #1fdf64;
    border-radius: 50%;
    border: 2px solid #000;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 195px;
    right: 26px;
    opacity: var(--a);
    transition: all 1s ease ease-out;
} 

.play svg{
    position: absolute;
    top: -3px;
    left: 7px;
}


.signupbtn{
    background-color: rgb(34, 34, 34);
    color: rgb(82, 82, 82);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0 15px;
}

.signupbtn:hover{
    font-size: 17px;
    color: white;
}

.loginbtn{
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
}

.loginbtn:hover{
    font-weight: bold;
    padding: 10px;
    font-size: 17px;
}


.playbars{
    position: fixed;
    bottom: 30px;
    position: absolute;
    bottom: 0px;
    filter: invert(1);
    background: #e2d9d9;
    border-radius: 20px;
    width: 94%;
    min-height: 40px;
    width: 70vw;
    padding: 7px;
    padding: 20px;
}

.songbuttons{
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 6.5px;
}

.songlist{
    height: 544px;
    overflow: auto;
    margin-bottom: 34px 0;
}

.hamburger{
    display: none;
}
.hamburgercontainer{
    gap: 14px;
    height: 21px;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.songlist ul{
    padding: 0 12px;

}

.songlist ul li{
    list-style-type: decimal;
    display: flex;
    gap: 15px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 9px 0;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    justify-content: space-between;
}

.songlist .info{
    font-size: 20px;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}


.playnow span{
    font-size: 18px;
    width: 100px;
    justify-content: center;
    text-align: center;
    padding-top: 6px;
    padding-right: -4px;
    gap: 20px; 
    
}

.songinfo , .songtime{
    width: auto;
}

.songlist info{
    font-size: 10px;
    width: 250px;
}

.info div{
    word-wrap: break-all;
}

.seekbar{
    height: 2px;
    width: 96%;
    margin-left: 19px;
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}

.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background: black;
    position: relative;
    bottom: 7px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img{
    cursor: pointer;

}

.abovebar{
    display: flex;
    justify-content: space-between;
    margin: -15px;
    height: 45px;

}

.songinfo, .songtime{
    color: black;
    padding: 13px;
    font-weight: bolder;
    font-size: 18px;
    
}

.volume{
    position: absolute;
    top: 13px;
    right: 145px;
    flex-direction:row;
    cursor: pointer;
}

.range input{
    cursor: pointer;
}


.range{
    position: absolute;
    top: 7px;
    right: 38px;
    cursor: pointer;
}


.songtime{
    padding: 15px;
    font-weight: bolder;
    font-size: 15px;
}


@media (max-width: 1440px) {
    .left{
        background: black;
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
    }
.left .close{
    position: absolute;
    right: 31px;
    top: 25px;
    width: 29px;
}

    .right{
        width: 95vw;
    }
    .playbars{
        width: 85vw;
        position: absolute;
        left: 90px;
        top: 750px;    
        width: calc(100vw - 60px);   

    }

    .seekbar{
        width: 90%;
    }

    .hamburger{
        display: block;
       
    }
} 

